<nav class="navbar">
    <a href="/" class="logo-link">
    <div class="logo">WEBMINEY</div>
    </a>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">About Us</a></li>
    </ul>

    <div class="socials">
        <a href="https://github.com/TuhinSubhraSikdar/"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tuhin-subhra-sikdar/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/tuhin_subhra_sikdar/"><i class="fab fa-instagram"></i></a>
    </div>
</nav>